$color-primary: #ffff7cff;
$color-secondary: #4f35ffff;
$color-ternary: #ca7ffeff;

.event {
    position: relative;
    padding-top: 40px;

    h3 {
        font-size: 25px;
    }

    p {
        margin: 10px 0;
    }
}

.image {
    margin-bottom: 20px;

    img {
        width: 100%;
    }
}

.controls {
    position: absolute;
    right: 30px;
    top: 0;
}

.delete {
    margin-left: 20px;
    color: red;
}

.back {
    display: block;
    margin-top: 40px;
}

.link {
    background: $color-secondary;
    border-radius: 5px;
    transition: all 0.3s ease;
    max-width: 200px;
    text-align: center;

    a {
        color: $color-primary;
        font-weight: 500;
    }

    &:hover {
        background: darken($color: $color-secondary, $amount: 20%);
        cursor: pointer ;
    }
}